# dependencies
node_modules/

# environment variables
.env
.env.local
.env.development
.env.production

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*

# OS & editor files
.DS_Store
.vscode
.idea

# Firebase admin secret
garment-ops-firebase-adminsdk-*.json
